name: Automação do fluxo Inserção de itens

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 9,11,14,15,18 * * 1,2,3,4,5'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: '11'

      - name: Cache Maven dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Build with Maven
        run: mvn clean verify

      - name: Run Tests with Selenide
        run: mvn test

      - name: Create Release and Upload Report
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: relatorios/RELATORIO-INSERCAO.html